<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- external links:  --}}
        {{!-- BOOTSTRAP --}}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
        {{!-- /BOOTSTRAP --}}
    {{!-- /external links:  --}}
    {{!-- internal links:  --}}
        {{!-- STYLE --}}
        <link rel="stylesheet" href="public/css/home.css">
        {{!-- /STYLE --}}

        <title>SkyZoneWX</title>
    </head>
    <body>
        <nav class="navbar nav-bar d-flex justify-content-around align-item-center bg-transparent shadow">
            <div class="title-container"><h1 id="title" class="title text-center p-3">{{title}}</h1></div>
            <div class="p-3" id="getInfos"><button class="btn btn-outline-info text-dark m-auto p-2">search</button></div>
        </nav>
    {{!-- external scripts:  --}}
        {{!-- BOOTSTRAP --}}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
        {{!-- /BOOTSTRAP --}}
        {{!-- SWEETALERT2 --}}
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        {{!-- /SWEETALERT2 --}}
    {{!-- /external scripts: --}}
    {{!-- internal scripts:  --}}
        <script src="../public/js/searchInfosLogic.js"></script>
    {{!-- /internal scripts:  --}}
    </body>
</html>